{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--
    <script type="text/javascript" src="{% static 'js/java.js' %}"></script>
    -->

	<title>Lee Siradig</title>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
		    <h1>Lee Siradig</h1>
	     </div>
    </div>
   </div>

	<div class="container">
       <div class="form-group">
         <div class="col-md-8">
        	<form method="POST" enctype= multipart/form-data> {% csrf_token %}
            <div class="custom-file">
              {{ form.as_p }}
            </div>
          </div>
		<input type="submit" value="Descomprimir" class="btn btn-lg btn-primary">
	</form>
	  </div>
     </div>

     <hr>

       {% if dire  %}
         <!--<p>En la carpeta <b>{{ dire }}</b> se encuntran los siguientes archivos XML:</p> -->
       <p class="titulo"><u>Se generaron los siguientes archivos XML:</u></p>
       {% endif %}

       {% if listado  %}
         <ul>
           {% for file_name in listado %}
             <li>
               <a href="{% url 'archivoxml' file_name %}">
                 {{ file_name }}
               </a>
             </li>
           {% endfor %}

         </ul>

         <a href="{% url 'procesa-siradig' %}"><b>Exportar</b></a>

       {% else %}
          <p class="nada">No hay archivos XML</p>

       {% endif %}


</body>
</html>
