{% extends "base.html" %}
{% block title %} Siradig Individual - CUIT: {{ titulo }}{% endblock title%}
{% block content %}
<div class="jumbotron">
    <h2 class="display-5 text-primary mb-1">CUIL: {{ titulo }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CUIL</th>
            <th scope="col">Deducción</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dato1</th>
            <th scope="col">Dato2</th>
            <th scope="col">Porc</th>
            <th scope="col">Descripción</th>
        </tr>
        </thead>
        <tbody>
            {% for instance in matsolo %}
            <tr>
                {% for in2 in instance %}
                    <td>{{ in2 }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="javascript:history.back()">Volver Atrás</a>
</div>


{% endblock content %}