{% extends "base.html" %}
{% block title %} Siradig Individual - CUIT: {{ titulo }}{% endblock title%}
{% block content %}
<div class="jumbotron">
    <h2 class="display-5 text-primary mb-5" style="display: inline">CUIL: {{ titulo }}</h2>
    <a class="btn btn-dark mx-4 mb-3 .btn-lg" href="javascript:history.back()">Volver</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">CUIL</th>
            <th scope="col">Deducción</th>
            <th scope="col">Tipo</th>
            <th scope="col">Dato1</th>
            <th scope="col">Dato2</th>
            <th scope="col">Porc</th>
            <th scope="col">Descripción</th>
        </tr>
        </thead>
        <tbody>
            {% for instance in matsolo %}
            <tr>
                {% for in2 in instance %}
                    <td>{{ in2 }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}